{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "requireConfigFile": false
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "prettier/prettier": ["error", { "singleQuote": true }],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extentions": [".js", ".jsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
