{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier", "react-app"],
  "plugins": ["react", "jsx-a11y", "prettier"],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "requireConfigFile": false
  },
  "rules": {
    "linebreak-style": 0,
    "prettier/prettier": ["error", { "singleQuote": true }],
    "import/prefer-default-export": "off",
    "react/function-component-definition": [2, {
      "namedComponents": "arrow-function"
    }],
    "react/react-in-jsx-scope": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extentions": [".js", ".jsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "ignorePatterns": ["src/index.js"]
}
